.topbar {
  margin: 2rem;
}

.topbar form {
  display: inline;
}

.topbar select {
  margin-left: 1rem;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #f3ffff;
}

.topbar button {
  margin: 0.4rem 1.5rem;
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
}

#apply {
  background-color: #4caf50;
}

#clear {
  background-color: #68b4e2;
  margin-left: 0;
}

#apply:hover {
  background-color: #45a049;
}

.quiz-display {
  min-height: 50vh;
  padding: 1rem 2rem;
  width: 100%;
  background-color: #f3ffff;
  border-radius: 1rem;
}

.sub-header {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-quiz-btn {
  padding: 7px 15px 5px;
  font-size: 1rem;
  background-color: #68b4e2;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

#add-quiz-btn:hover,
#clear:hover {
  background-color: #5095d1;
}

.quizzes {
  margin: auto;
  width: 90%;
}

.quizzes table {
  width: 100%;
  border-collapse: collapse;
}

.quizzes table th,
.quizzes table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.quizzes table button {
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.view-btn {
  background-color: #4caf50;
}

.view-btn:hover {
  background-color: #419b44;
}

.edit-btn {
  background-color: #68b4e2;
}

.edit-btn:hover {
  background-color: #5095d1;
}

.delete-btn {
  background-color: #f44;
}

.delete-btn:hover {
  background-color: rgb(237, 51, 51);
}

.add-quiz {
  width: 40vw;
  height: 50vh;
  background-color: #f3ffff;
  border-radius: 1rem;
  border: 1px solid #ccc;
  position: fixed;
  top: 25%;
  left: 30%;
  display: none;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1000rem 1000rem rgba(0, 0, 0, 0.3);
}

.add-quiz form input,
.add-quiz form select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.add-quiz h3 {
  margin: 2rem 0 0.5rem;
  font-size: 1.5rem;
}

.add-quiz form {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pop-up-btn-sec {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.pop-up-btn-sec button {
  min-width: 5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
}

#save-quiz-btn {
  background-color: #4caf50;
}

#save-quiz-btn:hover {
  background-color: #45a049;
}

#cancel-quiz {
  background-color: #f44;
}

#cancel-quiz:hover {
  background-color: rgb(237, 51, 51);
}
