<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %} Home {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    {% block stylesheet %} {% endblock %}
  </head>
  <body>
    {% block navbar %}{% endblock %}
    <div class="container">{% block content %}{% endblock %}</div>
    {% with messages = get_flashed_messages(with_categories = true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error'%}
    <div class="message error" id="alert">
      <span>{{ message }}</span>
      <span class="close" id="close-alert">&times;</span>
    </div>
    {% else %}
    <div class="message success" id="alert">
      <span>{{ message }}</span>
      <span class="close" id="close-alert">&times;</span>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <script src="{{ url_for('static', filename='index.js') }}"></script>
    {% block script %} {% endblock %}
  </body>
</html>
