{% extends "base.html" %} {% block title %}Summary | Quiz Master{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}" />
<style>
  main {
    margin: 4rem 0;
    padding: 0.5rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3ffff;
    border-radius: 0.5rem;
  }
</style>
{% endblock %} {% block navbar %}
<header>
  <div class="header-container">
    <h1>Quiz Master</h1>
    <nav>
      <ul>
        <li>
          <a href="/dashboard">Home</a>
        </li>
        <li>
          <a href="/score">Score</a>
        </li>
        <li>
          <a href="/summary">Summary</a>
        </li>
        <li>
          <a href="/logout">Log out</a>
        </li>
      </ul>
    </nav>
    <a href="/profile">Welcome, {{ user.fullname}}</a>
  </div>
</header>
{% endblock %} {% block content %}
<main></main>
{% endblock %} {% block script %} {% endblock %}
